.mat-dialog-actions {
  margin-bottom: 0px !important;
  display: unset;
}

.mat-dialog-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.mat-icon-button {
  float: right;
  background-color: transparent;
}

%status-style-shared {
  padding: 2px 20px;
  color: white;
  font-weight: bold;
}

.btn-white {
  color: rgb(65, 30, 90);
  border-color: rgb(65, 30, 90) !important;
  background: transparent;
}
