<main class="main">

    <!--    <aside class="sidebar sidebar--hidden">
          <div class="scrollbar-inner">
            <ul class="navigation">
              <li [routerLinkActive]="['active']">
                <a [routerLink]="" title="teste">
                  <i class="material-icons-outlined">
                    teste
                  </i>
                  testes
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <div class="hidden-sidebar">
            <div data-ma-action="aside-open" class="navigation-trigger" data-ma-target=".sidebar">
              <div class="navigation-trigger__inner">
                <i class="navigation-trigger__line"></i>
                <i class="navigation-trigger__line"></i>
                <i class="navigation-trigger__line"></i>
              </div>
            </div>
            <div>
              <ul class="navigation nav-header">
                <li [routerLinkActive]="['active']">
                  <a [routerLink]="" title="123">
                    <i class="material-icons-outlined">
                      123
                    </i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <header class="header">
            <div class="header__logo">
              <a [routerLink]="['/']">
                <img class="logo" src="../../assets/img/logo-portal-mobilidade-white.png" />
              </a>
            </div>
            <ul class="top-nav">
              <li class="dropdown hidden-xs-down">
                <a href="" data-toggle="dropdown" style="display: flex; align-items: center;">
                 345
                  <svg id="sidebar-icon-2" class="nav-top-svg">
                    <use xlink:href="../../assets/img/more.svg#svg" style="stroke: white; fill: white" />
                  </svg>
                </a>
                <div class="dropdown-menu">
                  <button type="button" class="dropdown-item">Sair</button>
                </div>
              </li>
            </ul>
          </header> -->
          
        <!-- <app-nav-menu [itensMenu]="itensMenu"
                      [userName]="userName">
        </app-nav-menu> -->
        <app-nav-menu>
        </app-nav-menu> 
        
        <section class="content content--full new-skin-content">
          <router-outlet></router-outlet>
        </section>
      </main>
      