.btn-link-layout {
  color: #846ea0;
}

.cdk-column-statusDescricao,
.mat-column-statusDescricao {
  flex: 0 0 60px !important;
}

.cdk-column-valorAluguelAntecipacao,
.mat-column-valorAluguelAntecipacao,
.cdk-column-valorVendaAntecipacao,
.mat-column-valorVendaAntecipacao {
  flex: 0 0 10rem !important;
}

.cdk-column-valorAluguel,
.mat-column-valorAluguel,
.cdk-column-valorVenda,
.mat-column-valorVenda {
  flex: 0 0 6rem !important;
}

.cdk-column-acoes,
.mat-column-acoes {
  flex: 0 0 160px !important;
  justify-content: center !important;
}
