
  <div class="row p-3">
    <div class="float-right">
      <!-- <a [routerLink]="['/perfil']" class="btn lx-btn">Voltar</a> -->
      <button type="button" class="btn lx-btn" (click)="atualizarUsuario()">Salvar</button>
    </div>
    <div class="col-lg-3 pt-1">
      <div class="card mb-3">
        <div class="card-header"></div>
        <div class="d-flex align-self-center pt-3">
          <a>
            <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
          </a>
        </div>
        <div class="card-body">
          <div class="h4 text-center mb-3"></div>
          <div class="h7 text-bold pb-1"><b>Nome:</b> {{userName}}</div>
          <div class="h7">
          {{descricao}}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-center border-right">
                <div class="h5">1342</div>
                <div class="h6 text-muted">Eventos Ministrados</div>
              </div>
              <div class="col-6 text-center">
                <div class="h5">1342</div>
                <div class="h6 text-muted">Eventos Participados</div>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-lg-9">
      <form [formGroup]="form" novalidate autocomplete="off">
        <mat-card class="material-card mt-4 mb-4" formGroupName="user">
          <mat-card-header>
            <mat-card-title>Detalhe Perfil</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">

              <input type="hidden" formControlName="id">

              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <mat-label>Titulo</mat-label>
                    <mat-select formControlName="titulo">
                      <mat-option>Selecione</mat-option>
                      <mat-option [value]="0">Não Quero</mat-option>
                      <mat-option [value]="1">Tecnólogo(a)</mat-option>
                      <mat-option [value]="2">Bacharel</mat-option>
                      <mat-option [value]="3">Especialista</mat-option>
                      <mat-option [value]="4">Pós Graduado(a)</mat-option>
                      <mat-option [value]="5">Mestre</mat-option>
                      <mat-option [value]="6">Doutor(a)</mat-option>
                      <mat-option [value]="7">Pós Doc</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Primeiro Nome</mat-label>
                    <input matInput placeholder="primeiroNome" formControlName="primeiroNome">
                    <mat-error *ngIf="form.get('user.primeiroNome').hasError('required')">
                      Entre com uma nome
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Ultimo Nome</mat-label>
                    <input matInput placeholder="ultimoNome" formControlName="ultimoNome">
                    <mat-error *ngIf="form.get('user.ultimoNome').hasError('required')">
                      Entre com um ultimo Nome
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>



              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                    <mat-error *ngIf="form.get('user.email').hasError('required')">
                      Entre com um email
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Telefone</mat-label>
                    <input matInput placeholder="phoneNumber" formControlName="phoneNumber">
                    <mat-error *ngIf="form.get('user.phoneNumber').hasError('required')">
                      Entre com um phoneNumber
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <mat-label>Função</mat-label>
                    <mat-select formControlName="funcao">
                      <mat-option>Selecione</mat-option>
                      <mat-option [value]="0">Não Quero</mat-option>
                      <mat-option [value]="1">Participante</mat-option>
                      <mat-option [value]="2">Palestrante</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="row">
                  <mat-form-field class="full-width">
                    <mat-label>Descrição</mat-label>
                    <input matInput placeholder="descricao" formControlName="descricao">
                    <mat-error *ngIf="form.get('user.descricao').hasError('required')">
                      Entre com um descricao
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="col-sm-12">
                <div>
                  <h3 class="pt-3 border-bottom">Mudar Senha</h3>
                  <p>Caso mude de senha, preencha os campos abaixo:</p>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <mat-form-field class="full-width">
                      <mat-label>Senha</mat-label>
                      <input matInput placeholder="password" formControlName="password">
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </form>

    </div>
  </div>

