<div class="d-flex align-items-center vh-100">

	<div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">

		<form [formGroup]="form" novalidate autocomplete="off">

			<i class="fa fa-users mb-2"></i>
			<h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>


      <div class="col-sm-12">
        <mat-form-field class="full-width">
          <mat-label>Usuário</mat-label>
          <input matInput placeholder="Usuário" formControlName="username" type="email" required>

        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>password</mat-label>
          <input matInput placeholder="password" formControlName="password" type="password" required>

        </mat-form-field>
      </div>

			<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Entrar</button>
			<p class="mt-4 mb-2 text-muted">Não tem login? Cadastre-se abaixo</p>
			<a class="btn btn-lg btn-link btn-block" routerLink="/cadastre-se">Quero me cadastrar</a>
		</form>

	</div>

</div>
